[Desktop Entry]
Type=Application
Name=Applications
Name[fr]=Applications
Comment=Open the AppGrid application grid
Icon=app-launcher
Exec=busctl --user call org.kde.kglobalaccel /component/plasmashell org.kde.kglobalaccel.Component invokeShortcut s "activate application launcher"
Terminal=false
NoDisplay=true
StartupNotify=false
